# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database / secrets
# =========================
*.sqlite3
*.db

# =========================
# Node (if frontend later)
# =========================
node_modules/
